.carouselContainer {
  overflow: hidden;
  width: 100%;
}

.carouselTrack {
  animation: scroll 20s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

.carouselContainer:hover .carouselTrack {
  animation-play-state: paused;
}
